body{
	font-family: 'Archivo';
}

.tableTitle{
	padding-bottom:20px;
}
.modal-content {
	width: 500px;
}

#mainText{
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom:50px;
}

#companyTable, #showDate, #projectTable, #teamTable, #statistics, #statisticsSu{
 	margin: 20px;
 	padding: 20px;
	border: 1px solid #d6d7d8;
	border-radius: 10px;
	box-shadow: 2px 5px 8px #d6d7d8;
}

#date{
	font-size: 1.2 em;
	padding-top:60px;
	color: #808080;
}
#showDate{
	min-height: 200px;
}
#companyTable, #projectTable, #teamTable,  #statistics, #statisticsSu{
	min-height: 400px;
}

#sysAdminTable, #userTable, #adminTable{
	min-height: 400px;
 	margin: 20px;
 	padding: 20px;
	border: 1px solid #d6d7d8;
	border-radius: 10px;
	box-shadow: 2px 5px 8px #d6d7d8;
}

.dropFiles {
	width: 100%;
	min-height: 100px;
	height: 100px;
	border: 2px #1E90FF dashed;
	text-align: center;
	font-size: 20px;
}

.highlightDropArea {
	border: 2px green dashed;
}

#dropIcon {
	color: #1E90FF;
	height: 20px;
}

#progress {
	max-height: 150px;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

#profile p, #profileDate{
	font-size:15px;
}

#btnChangePasswordModal, #btnEditProfileModal, #btnAddSkillsModal{
	color:black;
	font-size:13px;    
    padding-bottom: 4px;
    padding-top:4px;
    text-align: center;    
    display: inline-block;
    margin-bottom:7px;
    width:75%;
	
}

.card {
	background: white;
	margin: 5px;
	padding: 1em;
	min-height: 250px;
}

.card img {
	width: 40%;
	position: relative;
	max-height: 100px;
	top: 10%;
	left: 30%;
}

#btnContact{
	position: absolute;
    bottom: 5px;
    width:85%;
    text-align: center; 
    font-size:15px;    
    padding-bottom: 4px;
    padding-top:4px;
}

#mySkills{
list-style-type: none;
}

#profile p, li{
	font-size:18px;
	font-weight: bold;
}

#hangman{
	background-color: #ffe787;
	width:75%;
	height:170px;
	margin-bottom:25px;
	
}

#hangman p{
	font-size:20px;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#badges{
	background-color: #ffe787;
	width:75%;
	height:280px;
}

#badges p{
	font-size:20px;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#btnInbox{
	width:100%;
	font-weight: bold;
	margin-top:30px;
	
}

#btnOutbox{
	width:100%;
	font-weight: bold;
	margin-top:30px;
}




